.weather-app {
  background-color: #f5f5f5;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.input-container {
  position: relative;
  display: inline-block;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
  padding: 0;
  margin: 0;
}

/* Dropdown bullet changes */
.react-autosuggest__suggestions-list {
  padding-inline-start: 0;
  text-align: justify;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ccc;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.clear-button span {
  font-size: 1.2rem;
  color: #999;
}

.data-container {
  margin-top: 20px;
}

.suggestion-item {
  padding: 5px;
}
